body
{
    background-color: white;
    color : black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header
{
    background-color: rgba(0, 140, 255, 0.336);
    color : rgb(0, 0, 255);
    /* margin-bottom: 1em;   */
    display: block;
}
}